set_location IN_MUX_bfv_5_1_0_ 5 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_2_0_ 5 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_3_0_ 5 3 0 #ICE_CARRY_IN_MUX
set_location GB_BUFFER_clk_out_c_c_THRU_LUT4_0 1 16 2 #SB_LUT4
set_location LED_i1_THRU_LUT4_0 4 3 0 #SB_LUT4
set_location cnt_15_add_4_7_lut 5 1 5 #SB_LUT4
set_location cnt_15_add_4_5_lut 5 1 3 #SB_LUT4
set_location cnt_15__i8 5 2 0 #SB_DFF
set_location cnt_15__i16 5 3 0 #SB_DFF
set_location cnt_15_add_4_7 5 1 5 #SB_CARRY
set_location cnt_15_add_4_16_lut 5 2 6 #SB_LUT4
set_location cnt_15_add_4_12 5 2 2 #SB_CARRY
set_location cnt_15__i1 5 1 1 #SB_DFF
set_location LED_i1 4 3 0 #SB_DFF
set_location cnt_15_add_4_21 5 3 3 #SB_CARRY
set_location cnt_15__i20 5 3 4 #SB_DFF
set_location cnt_15__i13 5 2 5 #SB_DFF
set_location cnt_15_add_4_17_lut 5 2 7 #SB_LUT4
set_location cnt_15_add_4_3 5 1 1 #SB_CARRY
set_location cnt_15_add_4_16 5 2 6 #SB_CARRY
set_location cnt_15__i5 5 1 5 #SB_DFF
set_location cnt_15__i22 5 3 6 #SB_DFF
set_location cnt_15__i15 5 2 7 #SB_DFF
set_location cnt_15_add_4_3_lut 5 1 1 #SB_LUT4
set_location cnt_15_add_4_21_lut 5 3 3 #SB_LUT4
set_location cnt_15_add_4_13_lut 5 2 3 #SB_LUT4
set_location cnt_15_add_4_11_lut 5 2 1 #SB_LUT4
set_location cnt_15__i2 5 1 2 #SB_DFF
set_location cnt_15_add_4_9_lut 5 1 7 #SB_LUT4
set_location cnt_15_add_4_24 5 3 6 #SB_CARRY
set_location cnt_15_add_4_14 5 2 4 #SB_CARRY
set_location cnt_15__i17 5 3 1 #SB_DFF
set_location cnt_15_add_4_8 5 1 6 #SB_CARRY
set_location cnt_15_add_4_22_lut 5 3 4 #SB_LUT4
set_location cnt_15_add_4_19_lut 5 3 1 #SB_LUT4
set_location cnt_15__i0 5 1 0 #SB_DFF
set_location cnt_15_add_4_2_lut 5 1 0 #SB_LUT4
set_location cnt_15_add_4_22 5 3 4 #SB_CARRY
set_location cnt_15__i9 5 2 1 #SB_DFF
set_location cnt_15__i19 5 3 3 #SB_DFF
set_location cnt_15_add_4_6 5 1 4 #SB_CARRY
set_location cnt_15_add_4_24_lut 5 3 6 #SB_LUT4
set_location cnt_15_add_4_13 5 2 3 #SB_CARRY
set_location cnt_15_add_4_10_lut 5 2 0 #SB_LUT4
set_location cnt_15__i6 5 1 6 #SB_DFF
set_location cnt_15__i10 5 2 2 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location cnt_15_add_4_6_lut 5 1 4 #SB_LUT4
set_location cnt_15_add_4_4_lut 5 1 2 #SB_LUT4
set_location cnt_15_add_4_23_lut 5 3 5 #SB_LUT4
set_location cnt_15_add_4_20 5 3 2 #SB_CARRY
set_location cnt_15_add_4_18 5 3 0 #SB_CARRY
set_location cnt_15_add_4_12_lut 5 2 2 #SB_LUT4
set_location cnt_15_add_4_4 5 1 2 #SB_CARRY
set_location cnt_15_add_4_15_lut 5 2 5 #SB_LUT4
set_location cnt_15_add_4_14_lut 5 2 4 #SB_LUT4
set_location cnt_15_add_4_11 5 2 1 #SB_CARRY
set_location cnt_15__i4 5 1 4 #SB_DFF
set_location cnt_15__i21 5 3 5 #SB_DFF
set_location cnt_15__i12 5 2 4 #SB_DFF
set_location cnt_15_add_4_25_lut 5 3 7 #SB_LUT4
set_location cnt_15_add_4_2 5 1 0 #SB_CARRY
set_location cnt_15_add_4_17 5 2 7 #SB_CARRY
set_location cnt_15__i23 5 3 7 #SB_DFF
set_location cnt_15__i14 5 2 6 #SB_DFF
set_location cnt_15_add_4_9 5 1 7 #SB_CARRY
set_location cnt_15_add_4_20_lut 5 3 2 #SB_LUT4
set_location cnt_15__i3 5 1 3 #SB_DFF
set_location cnt_15_add_4_23 5 3 5 #SB_CARRY
set_location cnt_15_add_4_15 5 2 5 #SB_CARRY
set_location cnt_15_add_4_18_lut 5 3 0 #SB_LUT4
set_location cnt_15__i11 5 2 3 #SB_DFF
set_location cnt_15__i18 5 3 2 #SB_DFF
set_location cnt_15_add_4_5 5 1 3 #SB_CARRY
set_location cnt_15_add_4_10 5 2 0 #SB_CARRY
set_location cnt_15__i7 5 1 7 #SB_DFF
set_location cnt_15_add_4_8_lut 5 1 6 #SB_LUT4
set_location cnt_15_add_4_19 5 3 1 #SB_CARRY
set_io LED[6] 51
set_io LED[2] 30
set_io clk_out 100
set_io LED[7] 52
set_io LED[5] 40
set_io LED[3] 36
set_io LED[1] 29
set_io clk_in 34
set_io LED[4] 37
set_io LED[0] 28
